{% extends 'base.html.twig' %}

{% block body %}
<h2>Semestre 1</h2>
    {{ include('espace_etudiant/_releve.html.twig', {'matieres': semestre1}) }}
<br/>
<h2>Semestre 2</h2>
    {{ include('espace_etudiant/_releve.html.twig', {'matieres': semestre2}) }}
{% endblock %}
