{% extends 'base.html.twig' %}


{% block body %}
<main id="main">
        <div data-aos="fade-up">
            <p>
                Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> Les Actualités <br> es Actualités
                <br> Les Actualités <br> Les Actualités <br> Lees Actualités <br> Les Actualités <br> Les Actualités <br> Lees Actualités <br> Les Actualités <br> Les Actualités <br> Le
            </p>
        </div>
</main>
<!-- End #main -->
{% endblock %}