{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">
            <div  data-aos="fade-up">
                <p>
                    Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>
                    Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>
                    Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>Documents <br>

                </p>
            </div>
    </main>
{% endblock %}