{% extends 'base.html.twig' %}

{% block h1 %}Emlpois{% endblock %}
{% block body %}
<main id="main">
        <div data-aos="fade-up">
            <p>
                Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du temps <br> Emplois du
                temps <br> Emplois du temps <br>

            </p>
        </div>
</main>
{% endblock %}