{% extends 'base.html.twig' %}

{% block body %}

    <div class=" d-flex justify-content-center m-4">
        <div class="card card-photo sm-12">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                    <img id="account-img" src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle"
                         width="150">
                </div>
            </div>
        </div>
        <div class="card card-info sm-12 d-flex">
            <div class="card-body">
                <div class="row">
                    <div class="sm-5">
                        <h6>Full Name</h6>
                    </div>
                    <div class="sm-5 text-secondary">
                        Kenneth Valdez
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="sm-5">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="sm-5 text-secondary">
                        fip@jukmuh.al
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="sm-5">
                        <h6 class="mb-0">Role</h6>
                    </div>
                    <div class="sm-5 text-secondary">
                        Etudiant
                    </div>
                </div>
                <hr>
            </div>
            <div class="btn btn-outline-primary">
                Modifier votre mo de passe
            </div>
        </div>
    </div>
{% endblock %}